@font-face {
    font-family: "Lato Bold";
    src: url(./fonts/Lato/Lato-Bold.ttf) format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato Regular";
    src: url(./assets/fonts/Lato/Lato-Regular.ttf) format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato Black";
    src: url(./assets/fonts/Lato/Lato-Black.ttf) format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Lato Light";
    src: url(./assets/fonts/Lato/Lato-Light.ttf) format('truetype'); 
    font-style: normal;
    font-weight: normal;
}

* {
    margin:0;
}

body {
    margin: 0 auto;
    width: 1020px;
}

.Logo {
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato Black";
    font-weight: 900;
    padding-top: 69px;
    padding-left: 40px;
    letter-spacing:0.15px;
}

.Portfolio__FishText {
    margin: 27px 0 0 40px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato Light";
    font-weight: 300;
    text-align: left;
    letter-spacing:-0.15px;
    word-spacing: -.4px;
}

.Portfolio {
    margin: 0;
    height: 864px;
    background-color: #2d303a;
}

.Portfolio_landmark {
    display: inline-block;
    margin: 11px 0 0 41px;
    
}

.indent {
    margin-left: 5px;
}

.image_content {
    display:grid;
    grid-template: repeat(3,187px)/ repeat(4,220px);
    margin:0;
    grid-gap: 20px 20px;
    padding: 15px 0 0 40px;
    align-items: center;
    justify-items: center;
}

.Portfolio__Line {
    margin: 0;
    height: 6px;
    background-color: #323746;
}

.About_Us {
    margin: 0;
    height: 728px;
    background-color: #f2f2f2;
}

.two {
    word-spacing: -1.5px;
}

.About_Us__FishText {
    margin: 26px 0 0 40px;
    font-family: "Lato Light", "Lato Regular";
    text-align : justify;
    word-spacing: -0.063em;
    width: 939px;
    height: 47px;
    font-size: 18px;
    letter-spacing: -0.047px;
    line-height: 30px;
    color: #767e9e;
}

.image_and_text {
    margin: 58px 0 0 39px;
    display: grid;
    grid-template: 300px 14px 32px / repeat(3,303px);
    grid-gap: 16px 17px;
}

#image2 {
    width:300px;
    height:300px;
}

#image3 {
    margin-left: 1px;
}

.Name {
    font-family: "Lato Black", "Lato Light";
    color: #666d89;
    text-align: left;
    font-weight: 900;
    font-size: 19px;
    line-height: 19px;
}

.Adam {
    letter-spacing: -0.5px;
    word-spacing: -.4px;
}

.Desmond {
    letter-spacing: -0.7px;
    word-spacing: -.4px;
}

.Scolara {
    letter-spacing: -0.3px;
    word-spacing: -.4px;
}

.description {
    font-family: "Lato Regular", "Lato Light";
    text-align : left;
    font-size: 12px;
    line-height: 21px;
    font-weight: 400;
    color: #767e9e;
    margin-top:-1px;
}

.Text1 {
    letter-spacing: -.1px;
    word-spacing: -0.25px;
}

.Text2 {
    letter-spacing: 0.135px;
    word-spacing: 0.05px;
}

.Text3 {
    letter-spacing: 0.1px;
    word-spacing: -.1px;
}

.link {
    display: grid;
    grid-template: 32px / repeat(4,32px) 151px repeat(4,32px) 152px repeat(4,32px);
    margin:33px 0 0 41px;
    grid-column-gap: 8px;
}

.About_Us__Line {
    margin: 0;
    height: 6px;
    background-color: #ffffff;
}
